<%- layout('layout/dashboard-template')%>

<!-- RIGHT DASHBOARD RESULTS -->

<div class="d-flex justify-content-between px-3 py-0">
  <div class="left">
    <!-- <div class="d-flex justify-content-center align-items-center"> -->
    <div class="user-gradient rounded">
      </div>
      <div class="circle">
        <img src="/images/female.png" alt="user-image" class="img-fluid" />
      </div>

    <div class="white list-group-container rounded-bottom">
      <ul class="list-group list-group-flush">
        <!-- name -->
        <li class="list-group-item text-center">
          <span class="">Lala Gwapa</span>
        </li>
        <li class="list-group-item"><!-- email -->
          <span class="user-icon"><i class="fa-solid fa-envelope-open-text">
          </i></span>
          <span class="px-3">stuff goes here</span>
        </li>
        <!-- company -->
        <li class="list-group-item">
          <span class="user-icon"><i class="fa-solid fa-building"></i></span>
          <span class="px-3">stuff goes here</span>
        </li>
        <!-- website -->
        <li class="list-group-item">
          <span class="user-icon"><i class="fa-solid fa-globe"></i></span>
          <span class="px-3">stuff goes here</span>
        </li>
        <!-- address -->
        <li class="list-group-item">
          <span class="user-icon"><i class="fa-solid fa-signs-post"></i></span>
          <span class="px-3">stuff goes here</span>
        </li>
        <!-- tel -->
        <li class="list-group-item">
          <span class="user-icon"><i class="fa-solid fa-phone"></i></span>
          <span class="px-3">stuff goes here</span>
        </li>
      </ul>
    </div>
  </div>

  <div class="right border-round white">
    <canvas id="myChart" width="300" height="100">
    </canvas>
  </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script type="text/javascript">
  const ctx = document.getElementById('myChart');

  const myChart = new Chart(ctx, {
    type: 'line',
    data: {
      // labels: "<%= names %>".split(','),
      labels: <%- JSON.stringify(names) %> ,
      datasets: [{
          label: 'item price',
          data: [ <%= itemPrice %> ],
          borderColor: [
            'rgba(255, 99, 132, 1)'
          ],
          borderWidth: 1
        },
        {
          label: 'selling price',
          data: [ <%= soldPrice %> ],
          borderColor: [
            'rgba(54, 162, 235, 1)'
          ],
          borderWidth: 1
        }
      ]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
</script>
