<%- layout('layout/dashboard-template')%>
<!-- BREADCRUMBS -->
<div class="">
  <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
    <li class="breadcrumb-item active" aria-current="page">Sales</li>
  </ol>
</nav>
</div>

<!-- MAIN -->
<div class="white rounded p-3">
  <h1 class="mb-5">Sales</h1>

  <table class="table mb-5 border rounded">
    <thead class="table-light">
      <tr>
        <th scope="col"></th>
        <th scope="col">Date</th>
        <th scope="col">Invoice Number</th>
        <th scope="col">Customer</th>
        <th scope="col">Ordered Items</th>
        <th scope="col">Total Price</th>
        <th scope="col"></th>
      </tr>
    </thead>

    <!-------- LIST OF PURCHASES ---------------->
    <tbody class="table-primary mb-5">
      <% for (let sale of sales) { %>
      <tr class="table-primary">
        <th scope="row">1</th>
        <td><%= sale.date %></td>
        <td><a href="#"><%= sale.invoiceNumber%></a></td>
        <td><%= sale.customer %></td>
        <td> <%= sale.orderItems{ %>
        </td>
        <td><span>$</span><%= sale.totalPrice %></td>
        <td scope="row">
          <form class="" action="/dashboard/sales/<%= sale._id %>?_method=DELETE" method="post">
            <button class="btn btn-danger btn-sm">Delete</button>
          </form>
        </td>
      <%  } %>
      </tr>
        </tbody>
</table>

  <a class="btn btn-primary btn-sm"
  href="/dashboard/sales/new">Record New Sale</a>
</div>
