<%- layout('layout/dashboard-template')%>
<div class="">
  <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
    <li class="breadcrumb-item active" aria-current="page">Suppliers</li>
  </ol>
</nav>
</div>
<div class="">
<div class="">
  <h1 class="mb-5">Suppliers</h1>

  <table class="table mb-5">
    <thead class="table-light">
      <tr>
        <th scope="col"></th>
         <th scope="col"><h5>Company Name</h5></th>
         <th scope="col"><h5>Phone Number</h5></th>
         <th scope="col"><h5>Email Address</h5></th>
         <th scope="col"><h5>Address</h5></th>
         <th scope="col"></th>
       </tr>
     </thead>

    <tbody class="table-primary">
        <% for (let supplier of suppliers) { %>
          <tr>
          <th scope="row"><a class="btn btn-primary btn-sm"
            href="/dashboard/suppliers/<%= supplier._id %>/edit">
            Edit</a></th>
        <td><a href="/dashboard/suppliers/<%= supplier._id%>"><%= supplier.name %></a></td>
        <td><%= supplier.tel %></td>
        <td><%= supplier.email %></td>
        <td><%= supplier.address %></td>
        <td>
          <form class="" action="/dashboard/suppliers/<%= supplier._id %>?_method=DELETE" method="post">
          <button class="btn btn-danger btn-sm deleteBtn">Delete</button>
          <!-- data-id="<%= supplier._id %>" onclick="deleteLSItem()" -->
         </form>
      </td>
      </tr>
      <% } %>
    </tbody>
</table>

<a class="btn btn-primary" href="/dashboard/suppliers/new">Add new</a>
